body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial;
}

#logo {
    width: 150px;
    height: 82px;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    left: 10px;
}






/* FOOTER */
#footer {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    font-size: 14px;
    opacity: 0.7;
}
